<launch>
    <!-- My Package launch file -->
       <node pkg="section2" type="record_odom.py" name="Action_Server"  output="screen">
    </node>
    <node pkg="section2" type="find_wall.py" name="find_wall"  output="screen">
    </node>
   <node pkg="section2" type="topics_node.py" name="wall_following"  output="screen">
    </node>
</launch>